.app-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 10px;
}

.resume-form {
  width: 30%;
  padding: 1rem;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.resume-form input, .resume-form textarea {
  width: 95%;
  margin-bottom: 10px;
  padding: 8px;
}


.toolbar {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

